* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 67.5%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #fff;
  background-color: #141414;
  text-align: center;
}
.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}
.image-container {
  position: relative;
  transition: transform 0.25s;
}
.image-container:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
